#start-music, #back-button {
  position: absolute;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000;
}
#start-music {
  top: 20px;
  right: 20px;
}
#start-music:hover {
  background-color: #45a049;
}
#back-button {
  top: 20px;
  left: 20px;
}
#back-button:hover {
  background-color: #45a049;
}